.header {
  position: absolute;
  background-color: $header-bg;
  width: 100%;
  min-height: 80px;
  border-radius: 6px;
  z-index: 1;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }
  &__consultation {
    margin-left: 80px;
    letter-spacing: 2.2px;
  }

  &__nav {
    display: flex;
    margin-left: auto;
    margin-right: 29px;
  }

  &__list {
    display: flex;
    padding: 0 3px;
  }

  &__item {
    padding: 0 3px;
    &--tel {
      margin-right: 10px;
    }
  }

  &__link {
    font-family: "Manrope-Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: $color;
    padding-right: 5px;
    transition: 0.3s;

    &:hover {
      transform: 0.3s;
      opacity: 0.5;
    }
  }
  &__icon {
    margin-top: 2px;
    width: 22px;
    height: 22px;
  }

}


@media (max-width: $tablet-width - 1) {
  .header {

    &__wrapper {
      padding-top: 18px;
    }

    &__consultation {
      display: none;
    }

    &__logo {
      width: 95px;
    }

    &__nav {
      margin-right: 58px;
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .header {

    min-height: 364px;

    &__wrapper {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__logo {
      width: 123px;
      order: 1;
    }

    &__consultation {
      order: 2;
      display: flex;
      margin: 15px auto 0;
      max-width: 250px;
      text-align: center;
      letter-spacing: 1.5px;
    }

    &__btn {
      order: 3;
      margin: 28px 0 0 0;
    }

    &__nav {
      order: 4;
      margin: 26px auto 0;
      
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin: 0;
      padding: 0 2px;
      display: flex;
      justify-content: center;
      &--tel {
        width: 100%;
        margin-bottom: 11px;
      }
    }
    &__link {
      padding-right: 0;
    }
  }
}
