.question {
  position: relative;
  min-height: 471px;
  overflow: hidden;
  background: $question-top;
  width: 100%;

  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    object-fit: cover;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
  }
  &__hotpng {
    position: absolute;
    transform: translate(35%);
    width: 419px;
    height: auto;
    left: 50%;
    bottom: 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
  }
  &__head {
    color: $color;
    font-family: "Manrope-Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 37px;
    margin: 121px 0 0 0;
  }
  &__sub-head {
    font-family: "Manrope-Bold", "Arial", sans-serif;
    font-size: 20px;
    line-height: 37px;
    color: $color;
    margin-top: 6px;
  }
  &__sub-head-blue {
    color: $article-link-btn;
  }
  &__text {
    color: $color;
    font-family: "Manrope-Regular", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.7;
  }
  &__form {
    margin-top: 20px;
    max-width: 560px;
  }
  &__btn {
    display: none;
  }
}

@media (max-width: $tablet-width - 1) {
  .question {

    min-height: 735px;

    &__bg {
      display: none;
    }
    &__hotpng {
      transform: translate(-39%);
      width: 403px;
      left: 50%;
    }
    &__head {
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 28px;
    }
    &__sub-head {
      width: 100%;
      text-align: center;
      font-size: 20px;
      margin-top: 0px;
    }
    &__text {
      width: 56%;
      text-align: center;
      margin: 28px auto 0;
    }
    &__form {
      display: none;
    }
    &__btn {
      display: flex;
      margin: 32px auto 0;
    }
  }
}
@media (max-width: $mobile-width - 1) {
  .question {
    min-height: 709px;

    &__wrapper{
      padding-top: 24px;
    }
    &__hotpng {
      transform: scale(-1, 1)
                 translate(54%);
      top: 29%;
      width: 270px;
      
    }
    &__head{
      font-size: 25px;
      line-height: 37px;
      text-align: left;
      width: 80%;
    }
    &__sub-head{
      font-size: 18px;
      line-height: 28px;
      text-align: left;
      width: 100%;
      margin-top: 13px;
    }
    &__sub-head-blue {
      display: block;
    }
    &__text{
      order: 2;
      font-size: 15px;
      line-height: 26px;
      margin: 16px 0;
      width: 100%;
      text-align: left;
    }
    &__btn{
      margin-top: 366px;
      margin-left: 0;
      order: 1;
    }
  }
}
